* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
}

body {
    background-color: #66f4c5;
}

.logo {
    width: 300px;
    margin: 20px auto;
    display: block;
}

main {
    width: 375px;
    border-radius: 20px;
    background-color: #c2f1d8;
    margin: 0 auto;
    padding: 44px 24px 23px;
}

label {
    font-weight: 400px;
    font-size: 14px;
    color: #777777;
}

select,
input {
    background: #ffffff;
    border-radius: 4px;
    border: 1px solid #bbbbbb;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    padding-left: 18px;
    font-size: 16px;
    font-weight: 700;
    color: #555555;
}

button {
    background: #04faac;
    border-radius: 5px;
    width: 100%;
    height: 48px;
    margin-bottom: 36px;
    /* border-color: #025339; */
    border: none;
    font-size: 18px;
    font-weight: 700;
    color: #666666;
    cursor: pointer;
}

button:hover {
    opacity: 0.5;
}

button:active {
    opacity: 0.3;
}

section {
    border: 3px solid #04faac;
    border-radius: 20px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.arrow-img {
    margin: 15px 0;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.currency {
    font-size: 14px;
    font-weight: 400;
    color: #777777;
}

.currency-value,
.currency-value-to-convert {
    font-size: 20px;
    font-weight: 700;
    color: #555555;
}